@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
* {
  box-sizing: border-box; }

.row:after {
  content: "";
  clear: both; }

.item {
  background-color: red; }

.container {
  width: 90%;
  margin: 0 auto; }

.col {
  position: relative;
  float: left;
  padding: 0 30px;
  margin: 2px 0; }

.col1 {
  width: 8.333%; }

.col2 {
  width: 16.666%; }

.col3 {
  width: 25%; }

.col4 {
  width: 33.333%; }

.col5 {
  width: 41.666%; }

.col6 {
  width: 50%; }

.col7 {
  width: 58.333%; }

.col8 {
  width: 66.666%; }

.col9 {
  width: 75%; }

.col10 {
  width: 83.333%; }

.col11 {
  width: 91.666%; }

.col12 {
  width: 100%; }

@media (max-width: 1100px) {
  .col1 {
    width: 16.666%; }
  .col2 {
    width: 33.333%; }
  .col3 {
    width: 50%; }
  .col4 {
    width: 66.666%; }
  .col5 {
    width: 83.333%; }
  .col6 {
    width: 100%; }
  .col7 {
    width: 100%; }
  .col8 {
    width: 100%; }
  .col9 {
    width: 100%; }
  .col10 {
    width: 100%; }
  .col11 {
    width: 100%; }
  .col12 {
    width: 100%; }
  .col {
    padding: 0 5px; } }

@media (max-width: 320px) {
  .col {
    padding: 0 1px; } }

.brand {
  width: 30%;
  color: #247BA0;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  align-items: center; }
  .brand img {
    width: 200px;
    height: auto; }

.navbar {
  display: flex;
  align-items: center;
  display: none;
  transition: all 3s ease-in; }
  .navbar a {
    padding: 5px 10px;
    z-index: 1001; }

.menuOn {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 1000; }

#toggle-menu {
  display: none; }

/*Quando clicar no input ele muda o estado display do navbar*/
#toggle-menu:checked ~ .navbar {
  display: flex; }

@media screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(39, 71, 110, 0.91);
    height: auto;
    flex-direction: column;
    padding: 10px 0px; }
    .navbar a {
      padding: 10px 0px;
      color: #F4F4F9; }
      .navbar a:hover {
        color: #F05D5E; } }

/*Efeito do menu Hamburger*/
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #27476E;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #F05D5E; }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: #F05D5E; }

/*Fim - Efeito do menu Hamburger*/
header {
  width: 100%;
  height: 10vh;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background: #eaeff1;
  box-shadow: 1px 1px 10px #aaa;
  position: fixed;
  top: 0px; }

.turmas .container {
  padding: 30px; }
  .turmas .container h2 {
    color: #F4F4F9;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2px 0; }
  .turmas .container p {
    color: #F4F4F9;
    margin: 2px 0;
    font-size: 1.5rem; }

.chamada {
  background-color: #247BA0; }

.controle {
  background-color: #27476E; }

section {
  margin-top: 65px;
  padding-top: 20px; }

.turmas {
  min-height: 45vh;
  width: 100%; }

.controle {
  margin-top: 0px; }

.cadastros h2 {
  text-transform: uppercase;
  color: #27476E; }

.form-cadastro input, .form-cadastro select {
  border-top: 1.5px solid transparent;
  border-left: 1.5px solid transparent;
  border-right: 1.5px solid transparent;
  border-bottom: 1.5px solid #247BA0;
  color: #27476E;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  font-size: 1.5rem; }
  .form-cadastro input:placeholder, .form-cadastro select:placeholder {
    color: AzulEscuro; }

.form-cadastro input[type=text] {
  outline: none; }

.form-cadastro select {
  outline: none; }

.btnOk {
  color: #F4F4F9;
  margin: 10px auto;
  font-weight: bold;
  background: #247BA0;
  border: transparent;
  border-radius: 4px;
  padding: 20px;
  transition: all .2s ease; }
  .btnOk:hover {
    border: 1px solid #247BA0;
    background: transparent;
    color: #247BA0;
    transition: all .2s ease; }

.form-cadastro {
  display: flex;
  flex-direction: column; }

.chamada-conteudo {
  flex-grow: 2; }

.chamada-presenca {
  width: 140px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2); }
  .chamada-presenca:after {
    content: 'Faltou';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15); }
  .chamada-presenca:before {
    content: 'Presente';
    color: #247BA0;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold; }
  .chamada-presenca label {
    display: block;
    width: 64px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3); }
  .chamada-presenca input[type=checkbox] {
    visibility: hidden; }
    .chamada-presenca input[type=checkbox]:checked + label {
      left: 73px; }

.chamada-turma {
  height: 150px;
  background-color: #247BA0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px; }
  .chamada-turma h1 {
    text-transform: uppercase;
    color: #F4F4F9;
    font-weight: bold; }
  .chamada-turma h4 {
    color: #27476E;
    margin: -17px 0px 13px 0px; }

.chamada-make {
  text-align: center;
  background-color: #27476E;
  padding-top: 10px;
  padding-bottom: 10px; }
  .chamada-make a {
    color: #F4F4F9;
    transition: all .2s ease; }
    .chamada-make a:hover {
      font-weight: bold;
      color: #F4F4F9;
      transition: all .2s ease; }

.chamada-aluno {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.2px solid #aaa; }

ul {
  padding-left: 0px; }

body {
  font-family: 'Nunito', sans-serif;
  font-size: 12pt;
  width: 100%;
  margin: 0; }

a {
  text-decoration: none; }
