@import "../variaveis.scss";

.brand {
	width: 30%;
	color: $AzulClaro;
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	display: flex;
	align-items: center;
	
	img {
		width: 200px;
		height: auto;

	}
}
