* {
	box-sizing: border-box;
}

.row:after {
	content: "";
	clear: both;
}


.item {
	background-color: red;
}

.container {
	width: 90%;
	margin: 0 auto;
}
.col {
	position: relative;
	float: left;
	padding: 0 30px;
	margin: 2px 0;
}

.col1 {	width: 8.333%;}
.col2 {width: 16.666%;}
.col3 {width: 25%;}
.col4 {width: 33.333%;}
.col5 {width: 41.666%;}
.col6 {width: 50%;}
.col7 {width: 58.333%;}
.col8 {width: 66.666%;}
.col9 {width: 75%;}
.col10 {width: 83.333%;}
.col11 {width: 91.666%;}
.col12 {width: 100%;}

@media (max-width: 1100px) {
	.col1 {	width: 16.666%;}
	.col2 {width: 33.333%;}
	.col3 {width: 50%;}
	.col4 {width: 66.666%;}
	.col5 {width: 83.333%;}
	.col6 {width: 100%;}
	.col7 {width: 100%;}
	.col8 {width: 100%;}
	.col9 {width: 100%;}
	.col10 {width: 100%;}
	.col11 {width: 100%;}
	.col12 {width: 100%;}

	.col {
		padding: 0 5px;
	}
}

@media (max-width: 320px) {
	.col {
		padding: 0 1px;
	}
}
